@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/elements/button.sass";


.navbar {
    display: flex;
    .wyng {
        color: #570E84;
        font-weight: bold;
    }
    .login {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
}

a {
    text-decoration: none;
}

// @media only screen and (min-width: 1080px) {
//     .login {
//         display: block
//     }
// }